server:
  port: 8181

spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/product-service

eureka:
  client:
    service-url:
      defaultZone: http://eureka:admin@localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name:},traceId=%X{traceId},spanId=%X{spanId}]"