server:
  port: 8181

spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/product-service

eureka:
  client:
    service-url:
        defaultZone: http://eureka:admin@localhost:8761/eureka
  instance:
    prefer-ip-address: true